<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/main.min.css")
        title EMPTY LEGS
    body
        .callback.pfd-bold.small
            .callback__text обратный звонок
        .popup#popup.medium
            .popup__bg
                .popup__container.ml.pfd-bold 
                    .popup__row
                        .popup__title.pfd-bold рейс:
                        .popup__description.pfd-regular#flight__name
                    .popup__row
                        .popup__title.pfd-bold дата:
                        .popup__description.pfd-regular#flight__date
        header.header
            .workzone.workzone_wide.pfd-bold
                nav.menu.xs 
                    ul.menu__list
                        li.menu__item.menu__item_active.menu__item_dropped
                            a(href="#").menu__link.menu__link_with-sublist.menu__link_active чартеры
                            ul.menu__sublist.pfd-thin
                                li.menu__subitem 
                                    a(href="#").menu__link 
                                        span.block бизнес 
                                        span.block чартеры
                                li.menu__subitem 
                                    a(href="#").menu__link 
                                        span.block групповые 
                                        span.block чартеры
                                li.menu__subitem 
                                    a(href="#").menu__link 
                                        span.block грузовые 
                                        span.block чартеры
                                li.menu__subitem 
                                    a(href="#").menu__link 
                                        span.block медицинские 
                                        span.block чартеры
                                li.menu__subitem 
                                    a(href="#").menu__link.menu__link_active
                                        span.block empty 
                                        span.block legs
                                li.menu__subitem 
                                    a(href="#").menu__link вертолеты
                        li.menu__item 
                            a(href="#").menu__link покупка/продажа
                        li.menu__item 
                            a(href="#").menu__link менеджмент вс
                        li.menu__item 
                            a(href="#").menu__link авиационный консалтинг
                        li.menu__item 
                            a(href="#").menu__link услуги
                        li.menu__item 
                            a(href="#").menu__link о компании
                        li.menu__item 
                            a(href="#").menu__link контакты
                a.language(href="#").xs en
                #burger.burger
                    .burger__item
        section.section.fasad
            .workzone.workzone_narrow
                h1.fasad_title.pfd-medium.xxl рейсы empty legs
                .quote
                    .quote__text.medium.pfd-medium Когда компания Company организует чартерный перелет в один конец, 
                                |то зачастую самолет при возвращении на свою базу или при продолжении 
                                |перелета в другое место летит пустым. Такие рейсы известны в нашем бизнесе как "Empty Legs".
                    a(href="#").quote__link.pfd-bold.xs актуальные рейсы
                .threetext.medium.pfd-thin
                    p.threetext__paragraph Ниже приведен список Empty Legs, актуальных на текущий момент. 
                                            | Для получения информации выберите мышкой понравившийся Empty Leg
                                            | или же подпишитесь на информационную рассылку и получайте каждую 
                                            |неделю электронную почту с кратким обзором всех Empty Legs, появившихся за последние 7 дней. 
                    p.threetext__paragraph Этот список, конечно, не является исчерпывающим, поэтому, если вы не находите подходящего Empty Leg
                                            | на этой странице, свяжитесь с нашими специалистами напрямую и передайте им информацию о ваших
                                            | регулярных маршрутах. Мы свяжемся с вами, как только какой-либо из ваших маршрутов станет доступен.
                    p.threetext__paragraph  Ниже приведен список Empty Legs, актуальных на текущий момент. Для получения информации выберите мышкой понравившийся Empty Leg или же подпишитесь на информационную рассылку и получайте каждую неделю электронную почту с кратким обзором всех Empty Legs, появившихся за последние 7 дней. 
        section.section.benefits
            .workzone.workzone_wide.benefits__wrapper.medium_one
                .benefits__item
                    h6.benefits__title.pfd-bold Большая экономия
                    p.benefits__description.pfd-thin Ваша экономия до 75% от стоимости обычного чартера
                .benefits__item
                    h6.benefits__title.pfd-bold Широкий выбор
                    p.benefits__description.pfd-thin Empty Legs - широкий спектр частных воздушных судов
                .benefits__item
                    h6.benefits__title.pfd-bold Актуальная информация
                    p.benefits__description.pfd-thin Информация регулярно обновляются на нашем веб-сайте 
                .benefits__item
                    h6.benefits__title.pfd-bold Оповещение клиентов
                    p.benefits__description.pfd-thin Наши специалисты известят вас, как только появится ваш маршрут
        section.section.flights
            .workzone.workzone_narrow
                h3.section__title.large.pfd-regular актуальные рейсы
                h4.section__subtitle.xl.pfd-regular расписание
                .schedule.medium_one
                    .schedule__head.pfd-bold
                        .schedule__head-item
                            p.schedule__text EMPTY LEGS
                        .schedule__head-item
                            p.schedule__text дата вылета
                        .schedule__head-item
                            p.schedule__text самолет
                        .schedule__head-item
                            p.schedule__text заказ
                    .schedule__body.pfd-medium
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Los Angeles - Teterboro
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 28 февраля 2018 года
                            .schedule__row-item
                                p.schedule__text LearJet 45 XR 
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Boca Raton - West Chicago
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 28 февраля 2018 года
                            .schedule__row-item
                                p.schedule__text LearJet 40
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Los Angeles - Teterboro
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 28 февраля 2018 года
                            .schedule__row-item
                                p.schedule__text LearJet 60 XR 
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Boca Raton - West Chicago
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 01 марта 2018 года
                            .schedule__row-item
                                p.schedule__text Global 5000
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Los Angeles - Teterboro
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 02 марта 2018 года
                            .schedule__row-item
                                p.schedule__text Challenger 300
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Boca Raton - West Chicago
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 02 марта 2018 года
                            .schedule__row-item
                                p.schedule__text Challenger 850
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Los Angeles - Teterboro
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 04 марта 2018 года
                            .schedule__row-item
                                p.schedule__text P.180 Avanti II
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Boca Raton - West Chicago
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 04 марта 2018 года
                            .schedule__row-item
                                p.schedule__text LearJet 45 XR
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Los Angeles - Teterboro
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 05 марта 2018 года
                            .schedule__row-item
                                p.schedule__text LearJet 40
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Boca Raton - West Chicago
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 07 марта 2018 года
                            .schedule__row-item
                                p.schedule__text LearJet 60 XR
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Los Angeles - Teterboro
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 07 марта 2018 года
                            .schedule__row-item
                                p.schedule__text Global 5000
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Boca Raton - West Chicago
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 07 марта 2018 года
                            .schedule__row-item
                                p.schedule__text Challenger 300
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Los Angeles - Teterboro
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 09 марта 2018 года
                            .schedule__row-item
                                p.schedule__text Challenger 850
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                        .schedule__row
                            .schedule__row-item.schedule__row-item_name
                                p.schedule__text Boca Raton - West Chicago
                            .schedule__row-item.schedule__row-item_date
                                p.schedule__text 10 марта 2018 года
                            .schedule__row-item
                                p.schedule__text P.180 Avanti II
                            .schedule__row-item
                                a.schedule__text.purchase ЗАКАЗАТь рейс
                button.flights__more.xs.pfd-bold еще рейсы 
        footer.footer.section
            .workzone.workzone_wide
                h3.section__title.pfd-extrathin.large свяжитесь с нами
                .footer__workspace
                    .contacts
                        .contacts__wrapper
                            .contacts__item
                                .contacts__title.pfd-thin.medium адрес:
                                .contacts__description.pfd-bold.ml Киев, 03115, Украина ул. Туполева, 18
                        .contacts__wrapper
                            .contacts__item
                                .contacts__title.pfd-thin.medium телефон: 
                                .contacts__description.pfd-bold.large +38 (044) 123-45-67
                            .contacts__item
                                .contacts__title.pfd-thin.medium факс:
                                .contacts__description.pfd-bold.large +38 (044) 123-45-67
                        .contacts__wrapper
                            .contacts__item
                                .contacts__title.pfd-thin.medium e-mail: 
                                .contacts__description.pfd-bold.large info@company.com
                    .copyright.small.pfd-thin
                        .copyright__item © 1998-2018
                        .copyright__item Design & Development by


                        
        script(src="./js/main.min.js")