$menu_grey:#929292;
$menu_active_blue:#A7D2DB;
$fasad_title_darkgrey:#555555;
$benefit_after_white:#FEFEFE;
$table_border:#D9D9D9;
$more_button:#C4E5EC;
$footer_black:#1C1C1C;
$footer_image:#464646;
$footer_phones:#7E7E7E;
$footer_copyright:#2E2E2E;
$white:#fff;